h1{
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding-bottom: 0px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20px;
}

.account{
    text-align: center;
}

.modal-dialog.modal-b{
    width: 380px;
    height: 546px;
}

.modal-dialog.modal-s{
    width: 520px;
    height: 249px;
}

.btn-1{
    margin-left: 300px;
}

.btn-2 {
    float: right;
}

.button-b{
    background-color: #593BDB;
    color: white;
    border-radius: 6px;
    width: 100%;
    height: 40px;
    border-width: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.in-a-row{
    margin-top: 15px;
}

.in-a-row #forgot{
    margin-top: 30px;
    float: right;
}

.in-a-row #remember{
    display: compact;
    font-weight: normal;
    margin-top: 35px;
}

.btn-outline-created {
    color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:hover {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:focus, .btn-outline-created.focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-outline-created.disabled, .btn-outline-created:disabled {
    color: #593BDB;
    background-color: transparent;
}

.btn-outline-created:not(:disabled):not(.disabled):active, .btn-outline-created:not(:disabled):not(.disabled).active,
.show > .btn-outline-created.dropdown-toggle {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:not(:disabled):not(.disabled):active:focus, .btn-outline-created:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-created.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-created {
    background-color: #593BDB;
    color: #fff;;
    border-color: #593BDB;
}

.btn-created:hover {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-created:focus, .btn-created.focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-created.disabled, .btn-created:disabled {
    color: #593BDB;
    background-color: transparent;
}

.btn-created:not(:disabled):not(.disabled):active, .btn-created:not(:disabled):not(.disabled).active,
.show > .btn-created.dropdown-toggle {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-created:not(:disabled):not(.disabled):active:focus, .btn-created:not(:disabled):not(.disabled).active:focus,
.show > .btn-created.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}



