.text{
    color:white;
    background-color: mediumspringgreen;
    text-align: center;
    font-size: x-large;
    width: 70px;
    padding: 13px;
    margin: 0 ;
}

.form-format {
    border-style: groove;
    border-color: white;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.picture-layout{
    padding: 10px;
    margin: 10px;
}

.button-style{
    float:right;
    margin:10px;

}

.btn-outline-created {
    color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:hover {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:focus, .btn-outline-created.focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-outline-created.disabled, .btn-outline-created:disabled {
    color: #593BDB;
    background-color: transparent;
}

.btn-outline-created:not(:disabled):not(.disabled):active, .btn-outline-created:not(:disabled):not(.disabled).active,
.show > .btn-outline-created.dropdown-toggle {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-outline-created:not(:disabled):not(.disabled):active:focus, .btn-outline-created:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-created.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-created {
    background-color: #593BDB;
    color: #fff;;
    border-color: #593BDB;
}

.btn-created:hover {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-created:focus, .btn-created.focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}

.btn-created.disabled, .btn-created:disabled {
    color: #593BDB;
    background-color: transparent;
}

.btn-created:not(:disabled):not(.disabled):active, .btn-created:not(:disabled):not(.disabled).active,
.show > .btn-created.dropdown-toggle {
    color: #fff;
    background-color: #593BDB;
    border-color: #593BDB;
}

.btn-created:not(:disabled):not(.disabled):active:focus, .btn-created:not(:disabled):not(.disabled).active:focus,
.show > .btn-created.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(89, 59, 219, 0.5);
}