/* RCMS theme colors */
:root {
    --background: #F3F7F7;
    --primary: #593BDB;
    --primary-dark: #5035C5;
    --secondary: #3BDBBE;
    --secondary-dark: #35C5AB;
    --danger: #FA5C7C;
    --danger-dark: #E15370;
    --navbar: #343957;
    --text-primary: #3D4465;
    --text-secondary: #6E707E;
}

/* Nav bar navigation highlighting */
#home #nav-home, #issues #nav-issues, #food #nav-food, #accommodation #nav-accommodation,
#my-activities #nav-my-activities, #profile #nav-profile {
    color: #fff;
}

#profile #nav-menu-profile {
    color: #fff;
    text-decoration: none;
    background-color: var(--primary-dark);
}

/* General styles */
body {
    background-color: var(--background);
}

main {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.sticky-top {
    top: 5.5rem;
}

.bg-nav {
    background-color: var(--navbar);
}

/* Custom buttons styles */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:focus, .btn-primary.focus {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 0 0 0.1rem var(--primary);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 50%;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    opacity: 50%;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem var(--primary);
    opacity: 50%;
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.1rem var(--primary-dark);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--primary);
    opacity: 50%;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 50%;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem var(--primary-dark);
    opacity: 50%;
}

.btn-danger {
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-danger:hover {
    background-color: var(--danger-dark);
    border-color: var(--danger-dark);
}

.btn-danger:focus, .btn-danger.focus {
    background-color: var(--danger-dark);
    border-color: var(--danger-dark);
    box-shadow: 0 0 0 0.1rem var(--danger-dark);
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: var(--danger);
    border-color: var(--danger);
    opacity: 50%;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    background-color: var(--danger-dark);
    border-color: var(--danger-dark);
    opacity: 50%;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem var(--danger-dark);
    opacity: 50%;
}

.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
}

.btn-secondary:focus, .btn-secondary.focus {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
    box-shadow: 0 0 0 0.1rem var(--secondary-dark);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: var(--secondary);
    border-color: var(--secondary);
    opacity: 50%;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    background-color: var(--secondary-dark);
    border-color: var(--secondary-dark);
    opacity: 50%;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem var(--secondary-dark);
    opacity: 50%;
}

.btn-profile-sm {
    min-height: 38px;
    min-width: 38px;
}

.btn-profile-bg {
    min-height: 80px;
    min-width: 80px;
}

.carousel-item {
    height: 330px;
}

.carousel-item img {
    object-fit: cover;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--primary);
}

.nav a {
    color: var(--text-primary);
}

.nav-link {
    cursor: pointer;
}

.card-img-150 {
    object-fit: cover;
    height: 150px;
}

.card-img-300 {
    object-fit: cover;
    height: 300px;
}

.card-img-left {
    object-fit: cover;
    height: 120px;
    width: 120px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.food-img-left {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: calc(0.25rem - 1px);
}

.food-counter-btn {
    width: 2.5rem;
}

.food-counter-border {
    border-top: 1px solid var(--primary) !important;
    border-bottom: 1px solid var(--primary) !important;

}

.card {
    border: 0;
    transition: 0.3s;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
}

.raised-card:hover {
    transition: 0.3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.details-big {
    height: 50px;
    overflow-y: hidden;
}

.details-sm {
    height: 90px;
    overflow-y: hidden;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

.modal-m {
    max-width: 430px;
}

.form-control {
    border: 1px solid #EAEAEA;
}

.overlay-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.text-primary {
    color: var(--text-primary) !important;
}

.text-secondary {
    color: var(--text-secondary) !important;
}

.text-primary-purple {
    color: var(--primary) !important;
}

.page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-item.disabled .page-link {
    opacity: 50%;
}

.page-link {
    color: var(--primary);
}

.custom-file-label::after {
    content: attr(text);
}

.custom-file-input {
    cursor: pointer;
}

.fc-button-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.fc-button-primary:disabled {
    background-color: var(--primary);
    border-color: var(--primary);
    opacity: 50%;
}

.fc-day {
    cursor: pointer;
}

.form-activate {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

#sidecard {
    animation: fade_in_show 0.5s;
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}