<div class="modal fade" id="modal-pw-forget" tabindex="-1">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">

                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>

                <h3 class="modal-title text-center text-primary mb-4 mt-3">Forgot password?</h3>

                <form class="p-2 text-secondary" id="fp-form" method="post" action="/api/forget" novalidate>
                    <div class="alert alert-warning fade show" id="fp-alert" role="alert">
                        <span></span>
                        <button type="button" class="close"><span>&times;</span></button>
                    </div>
                    <p class="text-center mb-4">No worries! Enter your siswamail address below and we'll send you an email instructions to reset
                        your password.</p>

                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="fp-email" placeholder="Siswamail Address" required>
                        <div class="invalid-feedback"></div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 my-4">Reset Password</button>
                    <p class="text-center text-secondary">Back to
                        <a href="" data-toggle="modal" data-target="#modal-sign-in" data-dismiss="modal">Sign In</a></p>
                </form>
            </div>
        </div>
    </div>
</div>